.navigation-bar{
    background-color: whitesmoke;
}

.nav-items{
    text-decoration: none;
    border-radius: 10px;


}
.nav-items:hover{
    background-color: rgba(218, 165, 32, 0.685);
    background-color:rgba(216, 191, 216, 0.85);

}